body {
    background-color: rgb(14, 14, 34);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    color: whitesmoke;
}

.container {
    background-color: rgba(215, 215, 215, 0.241);
}